table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 15px;
}

table th, table td {
  padding: 5px 10px;
  border: 1px solid #ddd;
}

table th {
  background: #f2f2f2;
  text-align: left;
  font-weight: bold;
}

table tr:hover {
  background: #f0f0f0;
}
