{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
  <body>
    <center>
    <h1>Trainer Detail Page - {{trainer.full_name}}</h1>
    <br>
    <img src="{{trainer.trainer_photo.url}}" alt="{{trainer.full_name}} Image" style="width: 200px;height: 200px;">
    <p>Name:{{trainer.full_name}}</p>
    <p>Email:{{trainer.email}}</p>
    <p>Expertise:{{trainer.expertise}}</p>
    </center>
  </body>
</html>